<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boss.rbacdemo.dao.RoleDao">
    <select id="getRoleByDetail" resultType="com.boss.rbacdemo.entity.Role">
        SELECT rid,detail FROM role where detail=#{detail};
    </select>

    <select id="getRoleById" resultType="String">
        SELECT detail FROM role where rid=#{rid};
    </select>

</mapper>